* {
  box-sizing: border-box;
}

body {
  font-size: 30px;
  color:white;
  /* background-image: url("bk.jpg"); */
  font-family: 'Zen Loop', cursive;
  background-image: linear-gradient(to bottom left, rgb(31,109,213), rgb(156,187,246));
background-attachment: fixed;
}
.h{
  font-size: 40px;
}
.p{
  font-size: 30px;
  position: absolute;
}

.b{
  list-style-type: square;
}

.flex-box1{
  display: flex;
  width: 500px;
  height:200px;
  margin-top: 200px;
  margin-left: 650px;
  background-color: rgba(31,109,213,0.5);
  border-radius: 50px;
  flex-direction: column;
justify-content: center;
padding: 50px;
position: absolute;
animation: zoom 10s infinite linear;
}

.flex-box2{
  display: flex;
  width: 500px;
  height:350px;
  margin-top: 420px;
  margin-left: 650px;
  background-color: rgba(31,109,213,0.5);
  border-radius: 50px;
  flex-direction: column;
justify-content: center;
padding: 50px;
position: absolute;
animation: zoom 10s infinite linear;
}

.flex-box3{
  display: flex;
  width: 500px;
  height:250px;
  margin-top: 700px;
  margin-left: 750px;
  /* background-color: rgba(31,109,213,0.5); */
  border-radius: 50px;
  flex-direction: column;
justify-content: center;
padding: 35px;
position: absolute;

}

@keyframes zoom {
  0%{transform: scale(1);
    opacity: 1;
  }
50%{
  transition: scale(1.5);
  opacity: .5;
}
  100%{transform: scale(1);
  opacity: 1;
}
}
