body {
  background-color: #a779b9;
  color: white;
  font-size: 12px;
  font-family: Monospace, sans-serif;
  /* margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px; */
}

h1 {
  color: #ffffff;
  font-size: 70px;
  margin: 0.5em;
  font-family: 'Tourney', cursive;
  text-align: center;
}

p {
  margin: 10px;
  color: white;
  font-size: 25px;
  font-family: 'Tourney', cursive;
}

/* .dotted {
  color: #b8c0ff;
  border-style: dotted solid;
  width: 50vh;
  padding: 50px 50px 50px;
  margin-left: auto;
  margin-right: auto;
} */
.italic {
  font-style: italic;
  color: white;
  font-size: 12px;
  font-family: Monospace, sans-serif;
}

div {
  background: #b496ff;
  width: 50vh;
  padding: 50px 50px 50px;
  border-radius: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  text-align: center;
}
