* {
  box-sizing: border-box;
}

body {
  /* background-image: url("bk.jpg"); */
  font-family: 'Zen Loop', cursive;
  color:white;
background-image: linear-gradient(to bottom left, rgb(31,109,213), rgb(156,187,246));
background-attachment: fixed;
}

img{
  width: 450px;
  height: 350px;
}

.box{
  display: flex;
  flex-direction: row;
  text-align: center;
}

.sticky{
  background:rgb(199,110,143);
  width:300px;
  height:50px;
  position:sticky;
  top:100px;

margin: 100px 150px 10px;
z-index: 10;
  /* position: absolute; */
}

.flex-container{
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 50px 10px 10px 10px;
}

.flex-box1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: inherit;
}

.flex-box2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.flip-box {
  background-color: transparent;
  width: 450px;
  height: 350px;
  border: 0 solid;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  frontface-visibility: hidden;
}

.flip-box-front {
  background-color: #4163af;
  color: black;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}
