* {
  outline: 0;
  margin:0;
  padding:0;
}

html{
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height:100%;
  background-color: #abb4d4;
  background-image: url("sky3.jpeg");
  background-repeat: no-repeat;
  background-position:center;
  background-attachment:fixed;
}

/* img {
width:1920px;
  height:1080px;
  object-fit:fill;
} */

canvas {
  width: 100%;
  height: 100%;
}
