* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

button{
  color:white;
  background: rgb(28,26,113);
  font-size: 1.2rem;
}

button:hover{
  background: rgb(173,95,144);
}

button:active{
  background: rgb(236,235,127);
}

.box-styles{
  color:white;
background: rgb(45,94,148);
  height:100vh;
  width: 400px;
  position: fixed;
  top:0;
  right:-400px;
  padding:1.2rem;
  font-size: 1.2rem;
  transition: right .4s ease;
}

.active {
  right:0;

}
