* {
  box-sizing: border-box;
}

body {
  font-size: 30px;
  font-family: 'Comfortaa', cursive;
  background-color: #041330;
  background-image: url("main-bk.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* animation: test 10s infinite; */
}

img{
  position: absolute;
  top: 55%;
  left: 42%;
    margin:inherit;
}

a{
  text-decoration: none;
}

.object {
  /* background: #074aa3; */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 48%;
    margin:inherit;
  /* transition: all 1s ease; */
  transition: border-radius 1s ease, transform .5s ease,
    background 1s ease;
      animation: test 10s infinite;
}

.object:hover {
  border-radius: 0;
  transform: scale(2);
}

.tooltip {
  position: inherit;
  margin-left: 55%;
  margin-top: 25%;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: rgb(67,91,252, 0.5);
  color: #baa9a9;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: center;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  /* position: center;
  margin-left: auto;
  margin-right: auto; */
}

@keyframes test {
  0% {
    -webkit-filter: blur(0px);
  }

  75% {
    -webkit-filter: blur(0px);
  }

  80% {
    -webkit-filter: blur(5px);
  }

  90% {
    -webkit-filter: blur(10px);
  }

  100% {
    -webkit-filter: blur(5px);
  }
}

/* img:hover {
  -webkit-animation: image_blur 5s, infinite;
}

@-webkit-keyframes image_blur {
  0% {
    -webkit-filter: blur(0px);
  }

  20% {
    -webkit-filter: blur(5px);
  }

  40% {
    -webkit-filter: blur(10px);
  }

  60% {
    -webkit-filter: blur(15px);
  }

  80% {
    -webkit-filter: blur(10px);
  }

  100% {
    -webkit-filter: blur(0px);
  }
} */
